<div class="container">
    <br /><br />
    <h2>Crear Paciente</h2>
    <div class="div" *ngIf="patient">
      <span><strong>Name :</strong> {{ patient.name }}</span>
      <br />
      <span><strong>Surname :</strong>   {{ patient.surname }}</span>
      <br />
      <span *ngIf="patient.hospital"><strong>Hospital : </strong>  {{ patient.hospital.name }}</span>
      <br>
      <span> <strong>Doctores :</strong></span>
      <ul *ngFor="let item of patient.doctors">
        <li>{{ item.name }}</li>
      </ul>
    </div>
  
    <form [formGroup]="formPatient" (ngSubmit)="enviarPatient()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>NOMBRE</mat-label>
          <input matInput placeholder="Jose" formControlName="name" />
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="fill">
          <mat-label>APELLIDOS</mat-label>
          <input matInput placeholder="Perez" formControlName="surname" />
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="2747272471M" formControlName="dni" />
        </mat-form-field>
      </p>
     
    </form>
  
    <mat-form-field>
      <mat-label>Cambiar Doctores</mat-label>
      <mat-select [formControl]="formDoctores" multiple>
        <mat-option *ngFor="let item of midoctors" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  
     
    <mat-form-field>
      <mat-label>Cambiar Hospital</mat-label>
      <mat-select [formControl]="formHospital">
        <mat-option *ngFor="let item of hospitales" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
     
    <br /><br />
    <button id="enviotodo" (click)="enviarPatient()" mat-raised-button color="warn">
      Enviar 
    </button>
  </div>
  